@import "tailwindcss";

#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    font-family: "Geist", sans-serif;  
}


@import 'swiper/css';
@import "swiper/css/pagination";

.swiper-pagination-bullet {
  background: white; /* cor das bolinhas */
  opacity: 0.8;
  width: 10px;
  height: 10px;
}

.swiper-pagination-bullet-active {
  background: black; /* cor da bolinha ativa */
}

.swiper-pagination {
  position: relative !important;
  margin-top: 2rem;
}


@layer utilities {
  .transition-all {
    transition: all 0.3s ease-out;
  }
}


